$first-color: rgba(255, 255, 255, 1)
$second-color: rgba(0, 0, 0, 1)
$extra-color: rgba(0, 0, 0, 0.5)
$invalid-color: rgba(255, 0, 0, 0.7)
$warning-color: rgb(255, 238, 0, 0.7)

html
  color: $second-color
  background: $first-color
  transition: all 1s ease 0s
  scroll-behavior: smooth
body
  font-size: 20px
  font-family: Inter
  font-weight: 400
  transition: all 1s ease 0s
a
  color: inherit
  transition: all 1s ease 0s
a:hover
  color: $extra-color
h1
  font-size: 40px
  font-weight: 700
  padding: 10px 60px
  background-image: url("./assets/img/beer.png"), url("./assets/img/homer.png")
  background-position: left top, right top
  background-size: 60px
  background-repeat: no-repeat
  @media (max-width: 768px)
    font-size: 36px
  @media (max-width: 320px)
    font-size: 32px

.container
  max-width: 1440px
  margin: 0px auto
  transition: all 1s ease 0s
  @media (max-width: 1280px)
    max-width: 1280px
  @media (max-width: 768px)
    max-width: 768px
  @media (max-width: 320px)
    max-width: 320px

.button
  height: 40px
  padding: 0px 10px
  background: $first-color
  border: 3px solid $second-color
.button:hover
  background: $second-color
  border: 3px solid $second-color
  color: $first-color

.header-container
  display: flex
  flex-direction: column
  align-items: center
  padding: 20px
  gap: 20px
  .farourites
    position: absolute
    right: 30px
    top: 30px
  .search
    display: flex
    input
      outline: none
      padding: 5px
      border-bottom: 3px solid $extra-color
      height: 36px
    .invalid
      border-bottom: 4px solid $invalid-color
    button
      height: 36px
      width: 40px
      background-image: url("./assets/svg/search.svg")
      background-position: center
      background-repeat: no-repeat
      background-size: 28px
      background-color: inherit
  .history
    display: flex
    flex-wrap: wrap
    gap: 10px
    > div
      border: 3px solid $extra-color
      color: $extra-color
      padding: 5px
      cursor: pointer
    > div:hover
      background: $extra-color
      border: 3px solid $extra-color
      color: $first-color
      opacity: 0.5

.main-container
  display: flex
  flex-wrap: wrap
  justify-content: space-around
  align-items: center
  padding: 20px
  gap: 20px
  > div
    position: relative
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    gap: 20px
    padding: 20px
    width: 320px
    height: 550px
    border: 3px solid $second-color
    text-align: center
    img
      height: 300px
    button
      position: absolute
      right: 10px
      top: 10px
  .load-button:hover
    cursor: pointer
    background: $second-color
    color: $first-color
  .remove-button
    background: $second-color
    color: $first-color
  .remove-button:hover
    background: $first-color
    color: $second-color
  .error
    background: $invalid-color
    border: 3px solid $invalid-color
    color: $first-color
    padding: 20px
    height: inherit
  .warning
    background: $warning-color
    border: 3px solid $warning-color
    color: $second-color
    padding: 20px
    height: inherit

.arrow
  cursor: pointer
  position: fixed
  right: 35px
  bottom: 35px
  padding: 10px
  font-size: 40px
  border: 3px solid $second-color
  background: $first-color
  z-index: 100
.arrow:hover
  background: $second-color
  color: $first-color

.hide
  display: none